/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#cr{
  color:white;
  text-align: center;
 
}
main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 15px;
  justify-items: center; 
  grid-gap: 50px;
  
}  
img {
  display: block;
  width: 200px;
  height: 200px;
}  
